@import './variables.scss';
@import './mixin.scss';

body, div, p, h1, h2, h3, h4, h5, span, i { margin: 0; padding: 0; border:0;font-size: 100%; font: inherit; vertical-align: middle;
  -webkit-tap-highlight-color: transparent;  
  -webkit-appearance: none; 
  outline: none; box-sizing: border-box }
ol,ul,li { list-style: none}
table { border-collapse: collapse;border-spacing: 0 }
a { text-decoration: none }

.layout-display { display: flex; justify-content: center; align-items: center }
.layout-column { display: flex; flex-direction: column; justify-content: center; align-items: center }