// ----------------------------------------------------------------------------------  color  ---------------------------------------------------------------------------------
$color-normal: #fff;
$color-def: #323639;
$color-gray: #929091;
$color-danger: #FF0305;
$color-bg-danger: #DC3F38;
$color-info: #F9F9F9;
$color-primary: #1989FA;
$color-gray-f8: #F8F8F8;

$color-linear-def: linear-gradient(to right , #393A3C, #323639);
$color-linear-danger: linear-gradient(to right , #FC5641, #F42012);

// ----------------------------------------------------------------------------------  font  ---------------------------------------------------------------------------------
$font-tiny: 8px;
$font-mini: 12px;
$font-normal: 14px;
$font-large: 16px;

// ----------------------------------------------------------------------------------  size  ---------------------------------------------------------------------------------
